.home{
    min-height: 100vh;
color: black;
margin: auto;

  width: 60%;
 box-shadow: 5px 5px 200px 5px #888888;
  padding: 10px;
  
}

.home h1{
    text-align: center;
    margin: 10px;
}

.home p{
    padding: 10px;
}